@model List<Quirk.Models.Domain.BlogPost>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Quirk - Tech Stories and Ideas.
            </h1>
            <p class="lead">
                Quirk provides leading stories in Tech, real
                world application and solutions...
            <p><a href="">Get Started</a></p>
            </p>
        </div>


        <div class="col-12 col-lg-6"></div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if (Model != null && Model.Any())
            {
                foreach(var blopPost in Model)
                {
                    <div class="mb-5 bg-light box-shadow p-5">
                        <a href="#">
                            <img src="@blopPost.FeaturedImageUrl" alt="@blopPost.Heading"
                                 class="mb-2 d-block img-fluid" />
                        
                            <h2 class="mb-2">@blopPost.Heading</h2>
                            <p class="mb-2">@blopPost.ShortDescription</p>
                        </a>
                        <p class="mb-2">
                            @blopPost.Author
                            <br />
                            Published Date: @blopPost.PublishedDate.ToShortDateString()
                        </p>

                        <p class="mb-2">
                            @foreach (var tag in blopPost.Tags)
                            {
                                <span class="badge bg-secondary me-1">@tag.Name</span>
                            }
                        </p>
                        <a class="btn btn-dark" href="#">Read More</a>
                        
                    </div>
                }
            }
        </div>
    </div>
</div>